.icons-blank {
background:url( 'icons/blank.gif ') no-repeat center center;
}

.icons-add {
background:url( 'icons/edit_add.png ') no-repeat center center;
}

.icons-edit {
background:url( 'icons/pencil.png ') no-repeat center center;
}

.icons-clear {
background:url( 'icons/clear.png ') no-repeat center center;
}

.icons-remove {
background:url( 'icons/edit_remove.png ') no-repeat center center;
}

.icons-save {
background:url( 'icons/filesave.png ') no-repeat center center;
}

.icons-cut {
background:url( 'icons/cut.png ') no-repeat center center;
}

.icons-ok {
background:url( 'icons/ok.png ') no-repeat center center;
}

.icons-no {
background:url( 'icons/no.png ') no-repeat center center;
}

.icons-cancel {
background:url( 'icons/cancel.png ') no-repeat center center;
}

.icons-reload {
background:url( 'icons/reload.png ') no-repeat center center;
}

.icons-search {
background:url( 'icons/search.png ') no-repeat center center;
}

.icons-print {
background:url( 'icons/print.png ') no-repeat center center;
}

.icons-help {
background:url( 'icons/help.png ') no-repeat center center;
}

.icons-undo {
background:url( 'icons/undo.png ') no-repeat center center;
}

.icons-redo {
background:url( 'icons/redo.png ') no-repeat center center;
}

.icons-back {
background:url( 'icons/back.png ') no-repeat center center;
}

.icons-sum {
background:url( 'icons/sum.png ') no-repeat center center;
}

.icons-tip {
background:url( 'icons/tip.png ') no-repeat center center;
}

.icons-filter {
background:url( 'icons/filter.png ') no-repeat center center;
}

.icons-man {
background:url( 'icons/man.png ') no-repeat center center;
}

.icons-lock {
background:url( 'icons/lock.png ') no-repeat center center;
}

.icons-mini-add {
background:url( 'icons/mini_add.png ') no-repeat center center;
}

.icons-mini-edit {
background:url( 'icons/mini_edit.png ') no-repeat center center;
}

.icons-mini-refresh {
background:url( 'icons/mini_refresh.png ') no-repeat center center;
}

.icons-large-picture {
background:url( 'icons/large_picture.png ') no-repeat center center;
}

.icons-large-clipart {
background:url( 'icons/large_clipart.png ') no-repeat center center;
}

.icons-large-shapes {
background:url( 'icons/large_shapes.png ') no-repeat center center;
}

.icons-large-smartart {
background:url( 'icons/large_smartart.png ') no-repeat center center;
}

.icons-large-chart {
background:url( 'icons/large_chart.png ') no-repeat center center;
}

.icons-large-rupiah {
background:url( 'icons/rupiah.png ') no-repeat center center;
}

.tree-app {
background:url( 'icons/app.png ') no-repeat;
}

.tree-report {
background:url( 'icons/PNG/Printer.png ') no-repeat;
}

.tree-table {
background:url( 'icons/table.png ') no-repeat;
}

.tree-user {
background:url( 'icons/user.png ') no-repeat;
}

.tree-attr {
background:url( 'icons/PNG/Clipboard.png ') no-repeat;
}

.tree-map {
background:url( 'icons/PNG/Map.png ') no-repeat;
}

.tree-mu {
background:url( 'icons/PNG/Badge-multiply.png ') no-repeat;
}

.tree-doc {
background:url( 'icons/PNG/Notes.png ') no-repeat;
}

.tree-duit {
background:url( 'icons/PNG/money gold.png ') no-repeat;
}

.tree-card {
background:url( 'icons/PNG/Credit card.png ') no-repeat;
}